// TODO:  this should be moved to main sass reset
:focus-visible {
  outline-style: solid;
}

button {
  --_text: var(--text-1);
  --_bg: var(--surface-1);
  --_ink-shadow: none;
}

body {
  align-content: start;
  overflow-x: hidden;
  padding-block-start: 2vmin;
  padding-block-end: 0;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

picture {
  place-self: center;
}

img[aria-hidden] {
  pointer-events: none;
}
