h1,
h2,
h3 {
  // --gradient-12: conic-gradient(
  //   from 90deg at 25% -10%,
  //   #ff4500,
  //   #d3f340,
  //   #079e14,
  //   #afeeee,
  //   #7bee85
  // );

  // background: var(--gradient-12);
  // -webkit-background-clip: text;
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
  color: var(--text-1);
  line-height: var(--font-lineheight-00);
}

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
}

h2 {
  font-size: var(--font-size-fluid-2);
}

h3 {
  font-size: var(--font-size-fluid-1);
}

:where(p) {
  color: var(--text-2);
}
