:root {
  --font-size-xxs: clamp(0.56rem, 0.09vw + 0.54rem, 0.63rem);
  --font-size-xs: clamp(0.75rem, 0.2vw + 0.71rem, 0.88rem);
  --font-size-sm: clamp(1rem, 0.37vw + 0.92rem, 1.25rem);
  --font-size-md: clamp(1.33rem, 0.64vw + 1.19rem, 1.77rem);
  --font-size-lg: clamp(1.78rem, 1.07vw + 1.54rem, 2.5rem);
  --font-size-xl: clamp(2.37rem, 1.73vw + 1.98rem, 3.53rem);
  --font-size-xxl: clamp(3.16rem, 2.73vw + 2.54rem, 5rem);
}

main {
  h1 {
    max-inline-size: var(--size-content-2);
    font-size: var(--font-size-xl);
    @media (--md-n-below) {
      text-align: center;
    }
  }
}
