{# {{ eleventy | inspect }} #}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{ title if title else meta.title }} - Solihull - West Warwicks - Olton</title>

    {# deliberately early non-deferred use of theme toggle to render the color-scheme correctly while loading #}
    <script type="module" src="/@input/js/theme-toggle.js"></script>

    {% include "partials/meta-tags.njk" %}
  </head>

  <body class="{{page.fileSlug}}">

    {{ linkc(cms.links['skip-to-content'], 'skip to content', id='skip-to-content') }}
    <div class="site container">
      {% include 'partials/header.njk' %}
      {% include 'partials/main.njk' %}
      {% include 'partials/footer.njk' %}
    </div>
    {% include "partials/scroll-to-top.njk" %}
  </body>

</html>