// @use 'config';
// @use 'utility';
// @use 'component';

@forward '@andystevenson/sass';

body {
  display: grid;
  grid-template-rows: min-content;
}

main {
  margin: auto;
  display: flex;
  gap: 1rem;
  align-items: center;

  @media (--md-n-below) {
    flex-direction: column;
  }
}

#theme-toggler {
  display: flex;
  justify-content: space-around;

  & button {
    background-color: transparent;
  }
  & svg {
    width: 5rem;
  }
}

html[data-theme='dark'] {
  @media (--motionOK) {
    animation: var(--animation-shake-x), var(--animation-fade-out) reverse;
    animation-duration: 1s;
  }
}

html[data-theme='light'] {
  @media (--motionOK) {
    animation: var(--animation-shake-y);
  }

  & > * {
    animation: var(--animation-fade-out);
  }
}

// p {
//   text-align: center;
//   padding: 1em;
//   justify-self: center;
//   background-color: var(--surface-2);
//   color: var(--text-2);
// }
