.cricket main,
.hockey main {
  & header {
    background-color: transparent;
    padding: var(--size-fluid-1);
    margin-block-start: calc(var(--size-fluid-1) * -1);
    gap: var(--size-fluid-1);

    & > section.title {
      place-self: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: var(--size-fluid-2);

      @media (--lg-n-above) {
        flex-direction: row;
      }

      & picture {
        flex-shrink: 0;

        & img {
          width: 6rem;
          aspect-ratio: 1;
          padding: 0.25rem;
          border-radius: var(--radius-round);
          background-color: white;
        }
      }

      & h1 {
        line-height: var(--font-lineheight-0);
        max-inline-size: var(--size-header-3);
        text-align: center;
      }
    }
    & p {
      text-align: center;
      place-self: center;
      font-size: var(--size-fluid-2);
    }
  }

  & section.gallery {
    --columns: 1;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--size-fluid-1);

    background-color: var(--surface-3);
    padding: var(--size-fluid-1);
    border-radius: var(--radius-2);
    box-shadow: var(--radius-2);

    @media (--xs-n-above) {
      --columns: 2;
    }

    @media (--sm-n-above) {
      --columns: 3;
    }

    @media (--md-n-above) {
      --columns: 6;
    }

    & img {
      width: 100%;
      aspect-ratio: var(--ratio-portrait);
      object-fit: cover;
    }
  }

  & section.information {
    padding: var(--size-fluid-1);
    font-size: var(--font-size-fluid-1);

    & .content {
      display: grid;
      place-content: center;
      gap: var(--size-fluid-1);
    }
  }
}
