// should be in reset!

input {
  background-color: var(--surface-3);
}

::placeholder {
  font-size: 0.8em;
}

// squash specifics
.squash {
  // utilities
  .active {
    display: grid;
  }

  .inactive {
    display: none;
  }

  ::-webkit-scrollbar {
    height: 1em;
  }

  --scrollbar-color: var(--surface-2);
  --scrollbar-thumb-border: var(--surface-3);
  --scrollbar-thumb-color: var(--surface-4);
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-color);
    border-radius: 100vw;
    margin-block: 0.5em;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border: 0.25em solid var(--scrollbar-thumb-border);
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }

  summary {
    font-size: var(--font-size-fluid-1);
  }

  fieldset {
    & > section {
      gap: var(--size-1);
    }
  }

  label[for] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--label-space);
    align-items: center;
    input[type='text'],
    input[type='email'] {
      min-inline-size: 10ch;
      inline-size: 100%;
    }

    input[type='checkbox'] {
      margin-inline-end: var(--size-1);
    }

    input[type='text'][id='let-me-say'] {
      min-inline-size: 10ch;
      inline-size: 10ch;
    }

    span {
      inline-size: var(--label-size);
    }
  }

  // main sections
  article {
    grid-template-areas:
      'image'
      'bio';
    gap: unset;
    grid-auto-rows: min-content;

    border-radius: var(--radius-2);
    box-shadow: var(--radius-2);
    overflow: hidden;

    > picture {
      grid-area: image;
      place-self: unset;

      img {
        object-position: top;
      }
    }

    > details {
      grid-area: bio;
    }

    > h3,
    > p,
    > button {
      grid-area: image;
      place-self: center;

      background-color: var(--surface-3);
      padding-inline: 1em;
      padding-block: 0.25em;

      text-align: center;
      opacity: 0.7;
      font-size: var(--font-size-fluid-1);
    }

    > p {
      place-self: end center;
      margin-block-end: 1em;
    }

    > button {
      opacity: 0.95;
    }
  }

  .roa {
    > img {
      inline-size: 100%;
    }
  }
  .squash-is-fun {
    --image-size: 20vw;

    @media (--xl-n-above) {
      --image-size: 15vw;
    }
  }

  .roa-team {
    --image-size: 50vw;

    @media (--md-n-above) {
      --image-size: 30vw;
    }

    @media (--xl-n-above) {
      --image-size: 20vw;
    }

    article > picture {
      aspect-ratio: var(--ratio-portrait);
    }
  }

  .roa-images {
    --image-size: 40vw;

    @media (--xl-n-above) {
      --image-size: 35vw;
    }
  }

  .roa-programmes {
    --image-size: 50vw;

    @media (--xl-n-above) {
      --image-size: 30vw;
    }
  }

  .roa-jonah {
    img {
      inline-size: 100%;
      place-self: start;
    }

    .roa-history {
      @media (--lg-n-above) {
        grid-template-columns: 1fr 4fr 1fr;
      }

      img {
        display: none;
        @media (--lg-n-above) {
          display: block;
        }
      }

      div {
        place-self: center;
      }

      p {
        @media (--xxl-n-above) {
          font-size: var(--font-size-fluid-3);
        }
      }

      details {
        p {
          margin-block-end: 1em;
        }
      }
    }
  }

  .roa-courts {
    place-self: center;
    gap: var(--size-2);
    @media (--md-n-above) {
      grid-auto-flow: column;
      img {
        min-inline-size: 30vw;
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
      }
    }
  }
}

form {
  fieldset {
    gap: unset;

    > * {
      line-height: var(--font-lineheight-1);
      gap: unset;
    }

    legend {
      inline-size: max-content;
    }

    p {
      line-height: var(--font-lineheight-00);
    }
    .sessions {
      place-content: center;
      gap: unset;
      small:last-of-type {
        margin-block-end: 1em;
      }
    }

    fieldset.notice {
      margin-block: 1em;
    }

    p.notice {
      font-weight: 600;
      line-height: 1.1;
      text-align: center;
    }

    .pricing {
      place-content: center;
      .description {
        gap: unset;
      }
    }
  }

  input[type='number'] {
    inline-size: 6ch;
    margin-inline-end: var(--size-2);
  }

  label[for] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--label-space);
    align-items: center;
    input[type='text'],
    input[type='email'] {
      min-inline-size: 10ch;
      inline-size: 100%;
    }

    input[type='checkbox'] {
      margin-inline-end: var(--size-1);
    }

    input[type='text'][id='let-me-say'] {
      min-inline-size: 10ch;
      inline-size: 10ch;
    }

    span {
      inline-size: var(--label-size);
    }
  }

  .submit {
    display: flex;
    justify-content: space-between;
  }
}

#roa-junior-squash-summer-camps-form {
  & .sessions {
    grid-template-columns: 1fr 1fr 2fr;
    padding-inline: 10%;
  }
}
