.squash main {
  section.gallery.reasons {
    & img {
      object-fit: contain;
      aspect-ratio: unset;
    }
  }
}

.squash .junior-squash-programme {
  display: flex;
  place-content: center;
  img {
    max-block-size: 60vh;
  }
}

.squash .skills-and-drills img {
  max-block-size: 60vh;
}
