.tennis {
  --_color: var(--brand);
  #all-court-tennis,
  #all-court-tennis-coaching-junior-booking,
  #all-court-tennis-coaching-adult-booking {
    display: grid;
    grid-template-areas: 'content';
    span {
      grid-area: content;
      place-self: center;
      font-size: var(--font-size-fluid-1);
      background-color: var(--surface-2);
      padding-inline: 1em;
      padding-block: 0.25em;
      opacity: 0.8;
      font-weight: var(--font-weight-6);
      color: var(--text-1);
      text-align: center;
      line-height: 0.95;
      z-index: 1;
    }

    & img {
      grid-area: content;
      inline-size: 100%;
      min-block-size: 30vh;
      max-block-size: 50vh;
      object-fit: cover;
      object-position: left;
    }
  }

  .introduction {
    display: grid;
    grid-template-columns: 2fr 8fr;
  }
  .lta-youth {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);

    @media (--md-n-above) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'header header '
        'video icon '
        'description description ';

      h2 {
        grid-area: header;
      }

      iframe {
        grid-area: video;
        block-size: 100%;
        object-fit: cover;
      }

      #lta-youth-tennis {
        grid-area: icon;
      }

      p.description {
        grid-area: description;
      }
    }

    .stages {
      gap: var(--size-1);
      grid-column: 1 / -1;

      .stage {
        --_border-width: 5px;
        summary {
          background-color: var(--_color);
          border-radius: unset;
          font-size: var(--font-size-fluid-0);
        }
        border: var(--_border-width) solid var(--_color);

        &.blue {
          --_color: #0097d7;
        }
        &.red {
          --_color: #e61b2e;
        }
        &.orange {
          --_color: #e95d0c;
        }
        &.green {
          --_color: #bccf01;
        }
        &.yellow {
          --_color: #fcc838;
        }

        .contents {
          display: flex;
          flex-direction: column;
          gap: var(--size-2);

          @media (--md-n-above) {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-areas: 'icon information';
            gap: var(--size-3);

            .icon {
              grid-area: icon;
            }

            .information {
              border-inline-start: 1px solid var(--_color);
              padding-inline-start: var(--size-3);
              border-radius: unset;
            }
          }
        }

        .description {
          // text-align: left;
          strong {
            text-decoration: underline;
            text-underline-offset: 5px;
          }
          opacity: 1;
          margin-block-end: unset;
          // border-block-end: 1px solid var(--_color);
        }

        .icon {
          max-inline-size: 250px;
        }

        .information {
          display: flex;
          flex-direction: column;
          gap: var(--size-3);
          grid-area: information;
        }

        .title {
          background-color: transparent;
          color: var(--_color);
          opacity: 1;
          text-align: center;
          white-space: nowrap;
        }

        .sessions {
          display: grid;
          justify-content: center;
          border: var(--_border-width) solid var(--_color);
          border-radius: var(--radius-2);
          padding: var(--size-3);

          .session {
            display: grid;
            grid-template-columns: 100px 50px 50px 1fr;

            span:first-of-type {
              font-weight: bolder;
            }
          }
        }

        iframe {
          aspect-ratio: 723 / 407;
        }
      }
    }

    iframe {
      inline-size: 100%;
    }

    #lta-youth-tennis {
      grid-area: icon;
      display: grid;
      grid-template-areas: 'content';
      inline-size: 100%;

      span {
        font-size: var(--font-size-fluid-0);
        grid-area: content;
        place-self: start center;
        background-color: var(--surface-2);
        padding-inline: 1em;
        padding-block: 0.25em;
        opacity: 0.8;
        font-weight: var(--font-weight-6);
        color: var(--text-1);
        text-align: center;
        margin-block-start: 2em;
        z-index: 1;
      }

      img {
        grid-area: content;
        place-self: unset;
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
      }
    }
  }

  .cta {
    display: grid;
    border-radius: var(--radius-2);
    padding-inline: var(--size-3);
    background-color: var(--_color);
    margin: auto;

    span {
      display: flex;
      justify-content: center;
      color: var(--text-1);
      font-size: var(--font-size-4);
      font-weight: bolder;
      text-align: right;
      img {
        inline-size: var(--size-3);
        block-size: var(--size-3);
        margin-inline-start: var(--size-2);
        filter: invert(1);
      }
    }
    p {
      grid-column: 1 / -1;
    }
  }

  .act-team {
    article {
      min-inline-size: 35vw;
      font-size: var(--font-size-fluid-0);

      @media (--lg-n-above) {
        min-inline-size: 20vw;
        max-inline-size: 25vw;

        font-size: var(--font-size-fluid-1);
      }
    }
  }

  .members {
    article {
      background-color: var(--surface-3);
      padding: var(--size-2);
      min-inline-size: 32vw;
      p,
      h3 {
        grid-area: unset;
      }
      h3 {
        background-color: transparent;
      }

      .contact {
        text-align: center;
        font-size: var(--font-size-fluid-0);
        margin-block-end: var(--size-1);
      }

      .sessions {
        padding-inline: var(--size-3);
        padding-block: var(--size-2);
        border: 1px solid var(--text-1);
        border-radius: var(--border-size-2);
        margin-block-end: var(--size-3);
        .session {
          font-size: var(--font-size-0);
          display: grid;
          grid-template-columns: 1fr 1fr;
          @media (--md-n-above) {
            font-size: var(--font-size-1);
            grid-template-columns: 100px 250px 50px 50px;
          }
          .title {
            font-weight: bolder;
          }
        }
      }

      a:last-of-type {
        margin-block-start: var(--size-3);
      }
    }
  }

  // .promotions {
  //   img {
  //     object-fit: contain;
  //   }
  // }

  .tennis-gallery {
    img {
      min-block-size: 40vh;
      min-inline-size: 150px;
    }
  }
  [title='ACT Group Photo'] {
    @media (--md-n-above) {
      max-inline-size: 60vw;
      object-fit: cover;
    }
  }
}
