<h1>{{ title | capitalize }}</h1>

<picture>
  {{ imgc(cms.image['west warwicks social image'])}}
</picture>

{% set people = cms.people.staff %}
{% include 'partials/people.njk' %}

{% set people = cms.people.trustees %}
{% include 'partials/people.njk' %}

{% include 'partials/policies.njk' %}
