<h1>{{ title | capitalize }}</h1>

<picture>
  <img src="/cloudinaried/misc/west-warwicks-social-image.avif" alt="sky view of west warwicks">
</picture>

{% set group = staff %}
{% include 'partials/people.njk' %}

{% set group = about %}
{% include 'partials/people.njk' %}

{% set group = policies %}
{% include 'partials/people.njk' %}