{% set group = football %}

<h1>{{ title | capitalize }}</h1>
<p class="description">{{ football.description }}</p>

{% set promotions = cms.tags['football-promotion'] %}
{% include "partials/promotions.njk" %}

{% include 'partials/gallery.njk' %}

{{ linkc(cms.links['email-football'], h2('book the astro'), '?Subject=Book the Astro', class='booking') }}
