<h1>{{ title | capitalize }}</h1>

<section title="gallery" class="gallery">
  <picture>
    <img src="/cloudinaried/600/bar/bar-i2.jpg" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/bar/bar-i1.jpg" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/bar/bar-i7.jpg" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/bar/bar-i8.jpg" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/bar/bar-i5.jpg" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/bar/bar-i6.jpg" alt="" loading="lazy">
  </picture>

</section>

{% set group = media %}
{% include 'partials/links.njk' %}

<section class="information">
  <div class="content">
    <p>Our clubhouse bar is open to both members of the club & public to enjoy.</p>

    <p>The bar is open every evening and all day at the weekends serving a variety of soft drinks, hot and cold beverages, wines & spirits, cask beers and premium lagers. </p>

    <p>All members enjoy 15% discount on all drinks and we regularly hold discount promotions on food+drink combinations.</p>

    <p>Summers on the balcony adjacent to the bar offer great views of our 7 tennis courts and the cricket matches.</p>

    <p>HD screens are visible throughout the bar and we screen all major sports events, Premier League, Football Internations, 5-Nations, Olympics etc. We have plenty of seating with the bar and publish a clear schedule of all the events planned to be shown. As you can imagine all Aston Villa, Birmingham & Coventry games draws in the local support.</p>

    <p>We regularly host Quiz Nights, Tribute Acts, Music and Dance events open to everyone.</p>

    <p>Our bar food menu is extremely popular with Pizza, Burgers, Pies, Fish & Chips, Salads and Snacks. We have weekly specials that offer great tasty meals at great prices.</p>

    <p>Our Sunday Lunch is a great choice for families looking to enjoy great food in a relaxing atmosphere in our West View Suite.</p>

  </div>
</section>

{% include 'partials/specials.njk' %}

{% include 'partials/menu-navigation.njk' %}

{% include 'partials/be-kind-to-hospitality.njk' %}

{% include 'partials/bar-food-menu.njk' %}

{% include 'partials/beer-menu.njk' %}

{% include 'partials/wine-menu.njk' %}

{% include 'partials/cocktail-menu.njk' %}

{% include 'partials/spirits-menu.njk' %}

{% include 'partials/tea-and-coffee-menu.njk' %}

{% set group = tours %}
{% include 'partials/links.njk' %}

{% set group = bar %}
{% include 'partials/links.njk' %}