<h1>{{ title | capitalize }}</h1>

{% include "partials/enquiries.njk" %}
{% include "partials/opening-times.njk" %}
{% include "partials/find-us.njk" %}

<section class="address">
  <p>West Warwickshire Sports Complex</p>
  <p>78 Grange Road</p>
  <p>Solihull</p>
  <p>B91 1DA</p>
  <a href="tel:{{ telephone }}" title="telephone {{ telephone }}">Tel: {{telephone}}</a>
  <a href="mailto:{{email}}" title="email {{email}}">Email: {{email}}</a>
</section>