<h1>{{ title | capitalize }}</h1>

{# <section class="enquiries">
  <article data-theme="light">
    <h2>General Enquiries</h2>
    <section>
      <a href="mailto:{{email}}?Subject=General Enquiry">
        <img src="/images/envelope.svg" alt="email">
      </a>
      <a href="tel:{{telephone}}">
        <img src="/images/telephone.svg" alt="telephone">
      </a>
    </section>
  </article>
  <article data-theme="light">
    <header>
      <h2>About Joining</h2>
    </header>
    <section>
      <a href="mailto:{{email}}?Subject=About Joining">
        <img src="/images/envelope.svg" alt="email">
      </a>
      <a href="tel:{{telephone}}">
        <img src="/images/telephone.svg" alt="telephone">
      </a>
    </section>
  </article>
  <article data-theme="light">
    <header>
      <h2>Host an Event</h2>
    </header>
    <section>
      <a href="mailto:{{email}}?Subject=Host an Event">
        <img src="/images/envelope.svg" alt="email">
      </a>
      <a href="tel:{{telephone}}">
        <img src="/images/telephone.svg" alt="telephone">
      </a>
    </section>
  </article>
  <article data-theme="light">
    <header>
      <h2>Already a Member</h2>
    </header>
    <section>
      <a href="mailto:{{email}}?Subject=Member Enquiry">
        <img src="/images/envelope.svg" alt="email">
      </a>
      <a href="tel:{{telephone}}">
        <img src="/images/telephone.svg" alt="telephone">
      </a>
    </section>
  </article>
</section> #}

{% include "partials/enquiries.njk" %}
{% include "partials/opening-times.njk" %}
{% include "partials/find-us.njk" %}

<section class="address">
  <p>West Warwickshire Sports Complex</p>
  <p>78 Grange Road</p>
  <p>Solihull</p>
  <p>B91 1DA</p>
  <a href="tel:{{ telephone }}" title="telephone {{ telephone }}">Tel: {{telephone}}</a>
  <a href="mailto:{{email}}" title="email {{email}}">Email: {{email}}</a>
</section>