<header>
  <section class="title">
    <h1>{{cricket.name}}</h1>
    <a title="{{cricket.name}}" href="{{cricket.website}}">
      <picture>
        <img src="{{cricket.logo}}" alt="">
      </picture>
    </a>

  </section>
  <p>{{cricket.description}}</p>
</header>

<h2>Promotions</h2>
{% set promotions = cms.tags['cricket-promotion'] %}
{% include "partials/promotions.njk" %}

<section title="gallery" class="gallery">
  <picture>
    {{ imgc(cms.image['cricket-pavillion']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['cricket-ball-in-grass']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['cricket-batsman']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['cricket-ladies']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['cricket-sunny-pitch']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['cricket-ball-toss']) }}
  </picture>

</section>

{% set group = cricket %}
{% include 'partials/links.njk' %}

<section class="information">
  <div class="content">
    <p>The club enjoys close contacts with local schools, voluntary organisations and the <a href="{{cricket.wcb}}">Warwickshire Cricket Board</a>.</p>
    <p>We aim to provide a welcoming and friendly environment within which players of all ages and abilities can participate in and enjoy all aspects of the game.</p>
    <p>The club has has expanded to five teams in <a href="{{cricket.wccl}}">The Warwickshire League</a> on Saturdays, playing on three grounds in the local area.</p>
    <p>Teams are entered in midweek competitions as well and more adult Sunday cricket is played since the club joined the <a href="{{cricket.ardenSundayLeague}}">Arden Sunday League</a> in 2017.</p>
    <p>Always keen to recruit new adult and junior members at all levels, the club has a very strong junior section with excellent coaching for all ages and abilities.</p>
    <p>Practice sessions for adult and junior players takes place three or four evenings per week.</p>
    <p>The cricket facilities both at our main ground at WWSC and at our other grounds at <a href="{{cricket.tudorGrange}}">Tudor Grange Academy</a> and <a href="{{cricket.langley}}">Langley School</a> are maintained to a high standard by our professional grounds team.</p>
    <p>The grounds are in very pleasant settings.</p>
    <p>There is access to net facilities and artificial pitches, as well as high quality cricket squares.</p>
    <p>The club enjoys valued support from a range of sponsors and a number of vice presidents and this has enabled the club to attract professional players/coaches from overseas and to improve its facilities.</p>
    <p>Our youth cricket is one of the strongest set-ups in the county.</p>
    <p>Beginners quickly graduate to hardball cricket, where we run nine teams in the U10 to U16 range, playing Sunday mornings and weekday evenings.</p>
    <p>Boys and girls enjoy high quality coaching from professional coaches and volunteers, and many go on to represent the district and the county age group teams, whilst in recent years several have gone on to play in age group international cricket and first class cricket.</p>
    <p>Rarely does a year go by without at least one of our teams becoming county champions and/or reaching regional finals.</p>
    <p>A programme of winter coaching for youngsters, and adult nets takes place in February and March, taking advantage of our preferential arrangement to use the sports hall at <a href="{{cricket.tudorGrange}}">Tudor Grange Academy</a>.</p>
    <p>We very much welcome new members, irrespective of background or previous experience, and make every effort to embrace newcomers in our successful and expanding club.</p>
  </div>

</section>
<form action="{{cricket.website}}">
  <button>visit our website</button>
</form>