<h1>{{ title | capitalize }}</h1>

<p class="description">West Warwicks has several large function rooms to accomodate many different types of events. We regularly hold birthday parties, weddings, board meetings, funeral wakes, discos, quiz nights, etc. We offer open bar, waiter service and excellent food and buffet services.</p>

{% set promotions = cms.tags['events-promotion'] %}
{% include "partials/promotions.njk" %}

{% set images = cms.tags['events-gallery'] %}
{% include "partials/section-gallery.njk" %}

{% set mailto = "mailto:" + page.fileSlug + "@westwarwicks.co.uk?Subject=Book an Event" %}
{{ a(h2("Book an Event" + img('aria-hidden'=true, src=cms.icons.envelope.url, alt='email')),
class='booking', href=mailto) }}
