{% set group = fitness %}

<h1>{{ group.name  }}</h1>
<p class="description">{{group.description}}</p>

{% include "partials/gallery.njk" %}

<form class='book-a-court' action="{{ bookNow }}">
  <button>book a class</button>
</form>

{% include 'partials/coaches.njk' %}
{% include 'partials/classes.njk' %}