{% set group = football %}

<h1>{{ title | capitalize }}</h1>
<p class="description">{{ football.description }}</p>

{% include 'partials/gallery.njk' %}

<a class="booking" href="mailto:football@westwarwicks.co.uk?Subject=Book the astro">
  book the astro
</a>