{% set group = football %}

<h1>{{ title | capitalize }}</h1>
<p class="description">{{ football.description }}</p>

{% include 'partials/gallery.njk' %}

{{ link(cms.links['email-football'], h2('Book the Astro'), '?Subject=Book the Astro', class='booking') }}
