<h1>{{ title | capitalize }}</h1>

<section title="gallery" class="gallery">
  <picture>
    <img src="/cloudinaried/600/fitness/fitness-i1.jpg" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/fitness/fitness-i18.jpg" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/fitness/fitness-i3.jpg" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/fitness/fitness-i40.jpg" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/fitness/fitness-i5.jpg" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/fitness/fitness-i14.jpg" alt="" loading="lazy">
  </picture>

</section>
<form class='book-a-court' action="{{ bookNow }}">
  <button>book a session</button>
</form>