{% set group = gym %}
<h1>{{ title | capitalize }}</h1>
<p class="description">{{gym.description}}</p>

<section title="gallery" class="gallery">
  <picture>
    {{ imgc(cms.image['fitness-circuits-jogging']) }}

  </picture>
  <picture>
    {{ imgc(cms.image['fitness-bike-line']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['fitness-for-ladies']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['fitness-with-baby']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['fitness-dumbell-lifts']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['fitness-exercise-bikes']) }}
  </picture>
</section>
<form class='book-a-court' action="{{ bookNow }}">
  <button>book a session</button>
</form>

{% include 'partials/classes.njk' %}