{% set group = gym %}
<h1>{{ title | capitalize }}</h1>
<p class="description">{{gym.description}}</p>

<section title="gallery" class="gallery">
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/7ce5oAxYGuZd8i9WJE2iFT/5b623f99e2b581f6928dd9be78288e86/fitness-circuits-jogging.webp" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/435ctzir2lXSrm5isuXyeh/e1953c5ab6d9be8d9d600e32cf6b2cd8/fitness-bike-line.webp" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/4eW1GChcWImZGal7XQcaiK/50c659656eafd606dcfc9dee2cf67abb/fitness-for-ladies.webp" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/7AhUzsTYJk6zHfU4d0vAkf/f372cd9efc28ccedaeb8b8a06496152a/fitness-with-baby.webp" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/5mVdgGM59GMmF4nHVXs8fy/a8011dcbdb8dc93f2f5ea5bf33bb76cf/fitness-dumbell-lifts.webp" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/3vU1XNR3DCKweJ7iMfZ145/6c16f948c8dd65ae28e898cdf24dcfb0/fitness-exercise-bikes.webp" alt="" loading="lazy">
  </picture>

</section>
<form class='book-a-court' action="{{ bookNow }}">
  <button>book a session</button>
</form>

{% include 'partials/classes.njk' %}