<header>
  <section class="title">
    <h2>{{hockey.name}}</h2>
    <a title="{{hockey.name}}" href="{{hockey.website}}">
      <picture>
        <img src="{{hockey.logo}}" alt="">
      </picture>
    </a>

  </section>
  <p>{{hockey.description}}</p>
</header>

<section title="gallery" class="gallery">
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/2EVxxtKNM0fkqhMZfegWsk/0170a58d354bae3f8db0fd46632a6ae2/hockey-team-talk.webp" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/760rgcwYGh8ukqWeBRveVK/243087530ce5f9a65b5c9ece171c0d1b/hockey-shooting-chance.webp" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/6cTBzwwL8p5YcSmql573F4/dacc109c6e6f7b997036ca6bb894ca99/hockey-defence.webp" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/7eBYtJT5lxxAHGSAqEGNKM/f283b2629a6813099271d8ba5d5b7c99/hockey-dugout.webp" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/2ExjXwEKWEopDkon28FxBf/ae3f62ad44fdd3be9b496652a881fe37/hockey-dribbling.webp" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/1tLFKFm8NTJeFfvNrvhi1v/e99728e3ae14c05cbae5611f93ff5afc/hockey-straight-pass.webp" alt="" loading="lazy">
  </picture>

</section>

{% set group = hockey %}
{% include 'partials/links.njk' %}

<section class="information">
  <div class="content">
    <p>We aim to provide a welcoming and friendly environment within which players of all ages & abilities can participate in and enjoy all aspects of the game. We offer members the opportunities and technical support to excel at the highest levels of the sport, whilst instilling the virtues of sportsmanship and etiquette towards fellow members, officials and opponents alike. We aim to serve the community as a whole, promoting a beacon of sporting excellence open to all.</p>

    <p>Olton and West Warwicks is a well-established Hockey club run by players and ex-players and these accounts form the impressive number of teams we run, our sporting success and the friendly, social atmosphere within the Club.</p>

    <p>We have ladies, men's, junior & vets teams. For more information on memberships or to view our upcoming fixtures, please see the Olton Hockey website.</p>
  </div>
</section>
<form action="{{hockey.website}}">
  <button>visit our website</button>
</form>