<h1>{{join.name}}</h1>
<p class="description">{{join.description}}</p>

{% set benefits = join.benefits %}
{% include "partials/join-benefits.njk" %}

{% set categories = join.categories %}
{% include "partials/join-categories.njk" %}

{% for category in categories %}
  {% include "partials/join-category.njk" %}
{% endfor %}