<h1>{{title | replace("-", " ") | capitalize}}</h1>

{{ openings(info['opening-times']) }}

<section >
<p class='description'>*** last orders at the bar / bar-food / restaurant 30 minutes before closing time ***</p>
</section>