{% set group = racketball %}
<h1>{{ title | capitalize }}</h1>
<p class="description">{{racketball.description}}</p>

<section title="gallery" class="gallery">
  <picture>
    <img src="/cloudinaried/600/racketball/racketball-i1.jpg" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/66izL6StKMsQubdh8wQ28p/8d46702beeb6b11b69412ebdd54b2238/racketball-rally.webp" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/racketball/racketball-i31.avif" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/racketball/racketball-i32.avif" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/racketball/racketball-i5.jpeg" alt="" loading="lazy">
  </picture>
  <picture>
    <img src="/cloudinaried/600/racketball/racketball-i21.avif" alt="" loading="lazy">
  </picture>

</section>

<form class='book-a-court' action="{{ bookNow }}">
  <button>book a court</button>
</form>

<picture>
  <img src="https://images.ctfassets.net/ffrbyg3cfykl/6wsPI4DdvYfdgsmEIwbS5/3ae542239a012ff6dbab22346ddedd8d/racketball-club-night.webp" alt="" loading='lazy'>
</picture>
<picture>
  <img src="https://images.ctfassets.net/ffrbyg3cfykl/7slyjzJ55cF0RHpDevsoGA/2bbeead2cc1fbbc44eba84c6947d7190/racketball-8-rules.webp" alt="" loading='lazy'>
</picture>
<picture>
  <img src="https://images.ctfassets.net/ffrbyg3cfykl/2E65iuFlWgiWK0AjQYfuJF/1922e85e5787fe055d65abdf51733bf0/racketball-key-rules.webp?h=250" alt="" loading='lazy'>
</picture>

{% set group = racketball %}
{% include 'partials/links.njk' %}