{% set group = racketball %}
<h1>{{ title | capitalize }}</h1>
<p class="description">{{racketball.description}}</p>

<section title="gallery" class="gallery">
  <picture>
    {{ imgc(cms.image['racketball-main']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['racketball-rally']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['racketball-drop-shot']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['racketball-lunge']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['racketball-coaching-session']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['racketball-lob-shot']) }}
  </picture>
</section>

<form class='book-a-court' action="{{ bookNow }}">
  <button>book a court</button>
</form>

<picture>
  {{ imgc(cms.image['racketball-club-night']) }}
</picture>
<picture>
  {{ imgc(cms.image['racketball-8-rules']) }}
</picture>
<picture>
  {{ imgc(cms.image['racketball-key-rules']) }}
</picture>

{% set group = racketball %}
{% include 'partials/links.njk' %}