{% set group = restaurant %}
<h1>{{ title | capitalize }}</h1>
<p class="description">{{group.description}}</p>

{% include "partials/gallery.njk" %}

{% set promotions = cms.tags['restaurant-promotion'] %}
{% include "partials/promotions.njk" %}

{{ linkc(cms.links['email-restaurant'], h2('Book a Table'), '?Subject=Book a Table', class='booking') }}

{# {% include 'partials/menu-navigation.njk' %} #}

{% include 'partials/be-kind-to-hospitality.njk' %}

{% include 'partials/sunday-lunch-menu.njk' %}

{# {% include 'partials/beer-menu.njk' %}

{% include 'partials/wine-menu.njk' %}

{% include 'partials/cocktail-menu.njk' %}

{% include 'partials/tea-and-coffee-menu.njk' %} #}