{% set group = restaurant %}
<h1>{{ title | capitalize }}</h1>
<p class="description">{{group.description}}</p>

{% include "partials/gallery.njk" %}

<a class="booking" href="mailto:{{group.name}}@westwarwicks.co.uk?Subject={{group.subject}}">
  <h2>{{group.booking}}<img src="/images/envelope.svg" alt="email"></h2>
</a>

{% include 'partials/menu-navigation.njk' %}

{% include 'partials/be-kind-to-hospitality.njk' %}

{% include 'partials/sunday-lunch-menu.njk' %}

{% include 'partials/wine-menu.njk' %}

{% include 'partials/cocktail-menu.njk' %}

{% include 'partials/tea-and-coffee-menu.njk' %}