{{imgc(cms.image["squash-roa-welcome"])}}
<h1>Ah okay</h1>
<p class='description'>sorry you decided to cancel the booking!</p>
<button><a href="/squash/#roa">back to squash</a></button>
{{imgc(cms.image["squash-roa-tin"])}}
