{{imgc(cms.image["squash-roa-welcome"])}}
<h1>Thank you</h1>
<p class='description'>enjoy your coaching sessions</p>
<button><a href="/squash">back to squash</a></button>
{{imgc(cms.image["squash-roa-tin"])}}
