{% set group = sports %}
<h1>{{ title | capitalize }}</h1>
<p class="description">{{sports.description}}</p>

<section id="sports-gallery">
  <section class="sports-gallery">
    <article class="fitness">
      <a href="/fitness">
        <h2>fitness</h2>
      </a>
    </article>
    <article class="gym">
      <a href="/gym">
        <h2>gym</h2>
      </a>
    </article>
    <article class="tennis">
      <a href="/tennis">
        <h2>tennis</h2>
      </a>
    </article>
    <article class="squash">
      <a href="/squash">
        <h2>squash</h2>
      </a>
    </article>
    <article class="racketball">
      <a href="/racketball">
        <h2>racketball</h2>
      </a>
    </article>
    <article class="hockey">
      <a href="/hockey">
        <h2>hockey</h2>
      </a>
    </article>
    <article class="cricket">
      <a href="/cricket">
        <h2>cricket</h2>
      </a>
    </article>
    <article class="football">
      <a href="/astro">
        <h2>football</h2>
      </a>
    </article>
  </section>
</section>