{% set group = squash %}

<h1>{{ title | capitalize }}</h1>
{{imgc(cms.image["squash-banner"])}}

<p class="description">{{ squash.description }}</p>

<section title="squash is fun" class="media-scroller squash-is-fun">
  {% for image in squash.englandSquashMedia %}
    {{ imgc(cms.image[image]) }}
  {% endfor %}
</section>

<p class="description">{{ squash.newToSquash }}</p>

<section title='rob owen academy' class="roa">
  {{imgc(cms.image["squash-roa-welcome"], width='100%')}}

  <section class="roa-coaches">
    <h2>Coaches</h2>
      
    <section class="roa-team media-scroller">
      {% for member in squash.team %}
        <article>
          {{imgc(cms.image[member.image], class='roa-coach-image')}}
          <h3 class="roa-coach-name">{{member.name}}</h3>
          <p class="roa-coach-role">{{member.role}}</p>
          <details>
            <summary>
              Bio
            </summary>
            <p class="roa-coach-bio">{{member.bio}}</p>
          </details>
        </article>
      {% endfor %}
    </section>
  </section>

  <section class="roa-junior-programmes">
    <h2>Junior Programmes</h2>
    <section title="roa images" class="media-scroller roa-images">
      {% for image in squash.roaImages %}
        {{ imgc(cms.image[image]) }}
      {% endfor %}
    </section>

    <section title="junior programmes" class="media-scroller articles">
      {% for programme in squash.juniorProgrammes %}
        <article class='roa-junior-programme' id='{{programme.name}}'>
          {{ imgc(cms.image[programme.name]) }}
          <button class='book-now-action'>Book Now</button>
          <details>
            <summary>Description</summary>
            <p class="description">{{programme.description}}</p>
          </details>
          <form></form>
        </article>
      {% endfor %}
    </section>

  </section>

  <section class="roa-adult-programmes">
    <h2>Adult Programmes</h2>
    <section title="roa images" class="media-scroller roa-images">
      {% for image in squash.roaImages %}
        {{ imgc(cms.image[image]) }}
      {% endfor %}
    </section>

    <section title="adult programmes" class="media-scroller articles">
      {% for programme in squash.adultProgrammes %}
        <article class='roa-adult-programme' id='{{programme.name}}'>
          {{ imgc(cms.image[programme.name]) }}
          <button class='book-now-action'>Book Now</button>
          <details>
            <summary>Description</summary>
            <p class="description">{{programme.description}}</p>
          </details>
          <form></form>
        </article>
      {% endfor %}
    </section>
  </section>

  <section class="alumni">
    <h2>Professionals & Alumni</h2>
        <section class="roa-alumni media-scroller">
      {% for member in squash.alumni %}
        <article>
          {{imgc(cms.image[member.image], class='roa-alumni-image')}}
          <h3 class="roa-alumni-name">{{member.name}}</h3>
          <details>
            <summary>
              Bio
            </summary>
            <p class="roa-alumni-bio">{{member.bio}}</p>
          </details>
        </article>
      {% endfor %}
    </section>
    <p class="see-the-professionals description">{{squash.seeTheProfessionals}}</p>
  </section>

  <section class="jonah-legend">
    <h2>Where it all started for West Warwicks...</h2>
    {{imgc(cms.image["squash-jonah-barrington-legend"], class="jonah-legend")}}
    <section class="roa-history">
      {{imgc(cms.image["squash-jonah-barrington-1"], class="jonah-image")}}
      <div>
        <p class="description">{{squash.history | first}}</p>
        <details class="roa-history-details">
          <summary>... more</summary>
          {% for paragraph in squash.history | slice(1) %}
            <p class="description">{{paragraph}}</p>
        {% endfor %}
        </details>
      </div>
      {{imgc(cms.image["squash-jonah-barrington-2"], class="jonah-image")}}
    </section>
    <section class="roa-courts">
      {{imgc(cms.image["squash-jonah-barrington-court"])}}
      {{imgc(cms.image["squash-rob-owen-court"])}}
    </section>
    
  </section>

  {{imgc(cms.image["squash-roa-tin"], width="100%")}}
</section>

{# old stuff here #}
{# {% include 'partials/gallery.njk' %} #}

<form class='book-a-court' action="{{ bookNow }}">
  <button>book a court</button>
</form>

<section class="group teams">
  <h2>WWSC Teams</h2>
  <section class="activities">
    <section class="team">
      <a href="{{squash.warwickshireLeague}}" target="_blank">
        <picture>
          {{ imgc(cms.image['warwickshire-squash']) }}
        </picture>
      </a>
      <h2>Warwickshire<br>League</h2>
    </section>
    <section class="team">
      <a href="{{squash.wwsc1stTeam}}" target="_blank">
        <picture>
          {{ imgc(cms.image['squash-1st-team']) }}
        </picture>
      </a>
    </section>
    <section class="team">
      <a href="{{squash.wwsc2ndTeam}}" target="_blank">
        <picture>
          {{ imgc(cms.image['squash-2nd-team']) }}
        </picture>
      </a>

    </section>
  </section>
</section>

{# {% set people = squash.people %}  #}
{# broken for now! #}
{% include 'partials/people.njk' %}
{% include 'partials/links.njk' %}