{% set group = squash %}
<h1>{{ title | capitalize }}</h1>
<p class="description">{{ squash.description }}</p>

{% include 'partials/gallery.njk' %}

<form class='book-a-court' action="{{ bookNow }}">
  <button>book a court</button>
</form>

<section class="squash-coach">
  <section class="identity">
    <h2>Sam Osborne-Wylde<br>Jonah Bryant</h2>
    <picture>
      {{ imgc(cms.image['roa-individual-coaching']) }}
    </picture>
  </section>
  <section class="bio">
    <h2>Head Coaches</h2>
    <picture data-theme='light'>
      {{ imgc(cms.image['england-squash']) }}
    </picture>

    <p>Sam Osborne-Wylde and Jonah Bryant are elite junior members of the Rob Oweb Academy. They are passionate about helping players of all levels to improve and enjoy squash. As a team they will develop both club players and aspiring elite juniors to develop to club, county and national levels.</p>
  </section>
  <section class="prices">
    <header>
      <h2>Prices</h2>
      <p>Looking to improve?</p>
      <p>Book a session with our Head Coach to work on all aspects of your game.</p>
    </header>

    <ul class="price-list">
      <li>
        <p class="type">Junior</p>
        <span>£20.00</span></li>
      <li>
        <p class="type">Adult</p>
        <span>£25.00</span></li>
      <li>
        <p class="type">Pair 2:1</p>
        <span>£30.00</span></li>
    </ul>
    <section class="contacts">
      {{ linkc(cms.links['email-ali']) }}
      {{ linkc(cms.links['telephone-ali']) }}
    </section>
    <footer>
      <small>Sessions are 40 minutes.<sup>1</sup>
      </small>
      <small>Non-members pay additional £5 court fee.<sup>2</sup>
      </small>

    </footer>
  </section>
</section>

<section title="gallery" class="gallery reasons">
  <picture>
    {{ imgc(cms.image['squash-gets-you-fit']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['squash-is-a-quick-workout']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['squash-burns-calories']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['squash-is-fun']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['squash-is-all-weather']) }}
  </picture>
  <picture>
    {{ imgc(cms.image['squash-is-for-everyone']) }}
  </picture>
</section>

<section class="group juniors">
  <h2>Juniors</h2>
  <section class="activities">
    <section class="junior-squash-programme">

        <picture>
          {{ imgc(cms.image['roa-junior-squash-programme']) }}
        </picture>

      <section class="schedule">
        <ul class="times">
          <li>
            <p class="type">Tuesday</p>
            <span>5-6pm</span></li>
          <li>
            <p class="type">Saturday</p>
            <span>10-12:45</span></li>
        </ul>
        <section class="contacts">
          {{ linkc(cms.links['email-ali'],'?Subject=Junior Squash Stars') }}
          {{ linkc(cms.links['telephone-ali']) }}
        </section>
      </section>
    </section>
    {# <section class="junior-intermediate">
      <section>
        <h3>intermediate</h3>
        <picture data-theme='light'>
          {{ imgc(cms.image['england-squash']) }}
        </picture>
      </section>
      <picture>
          {{ imgc(cms.image['squash-coaching']) }}
      </picture>
      <section class="schedule">
        <ul class="times">
          <li>
            <p class="type">Saturday<br>
              <span>10:45-11:45</span></p>
          </li>
        </ul>
        <section class="contacts">
          {{ linkc(cms.links['email-ali'],'?Subject=Juniors Intermediate') }}
          {{ linkc(cms.links['telephone-ali']) }}
        </section>
      </section>
    </section>
    <section class="junior-advances">
      <section>
        <h3>advanced</h3>
        <picture data-theme='light'>
          {{ imgc(cms.image['england-squash']) }}
        </picture>
      </section>
      <picture>
        {{ imgc(cms.image['squash-coaching']) }}
      </picture>
      <section class="schedule">
        <ul class="times">
          <li>
            <p class="type">Saturday<br>
              <span>11:45-12:45</span></p>
          </li>
        </ul>
        <section class="contacts">
          {{ linkc(cms.links['email-ali'],'?Subject=Advanced Juniors') }}
          {{ linkc(cms.links['telephone-ali']) }}
        </section>
      </section>
    </section> #}
  </section>
</section>

<section class="group adults">
  <h2>Adults</h2>
  <section class="activities">

    <section class="skills-and-drills">
      <section>
        <h3>skills & drills</h3>
        <p>Hone your skills!</p>
        <picture data-theme='light'>
          {{ imgc(cms.image['england-squash']) }}
        </picture>
      </section>
      <picture>
        {{ imgc(cms.image['skills-and-drills']) }}
      </picture>
      <section class="schedule">
        <ul class="times">
          <li>
            <p class="type">Tuesday<br>
              <span>19:00-20:20</span></p>
          </li>
        </ul>
        <section class="contacts">
          {{ linkc(cms.links['email-ali'],'?Subject=Club Night') }}
          {{ linkc(cms.links['telephone-ali']) }}
        </section>
      </section>
    </section>
    <section class="adult-club-night">
      <section>
        <h3>club night</h3>
        <p>Everyone is welcome!</p>
        <picture data-theme='light'>
          {{ imgc(cms.image['england-squash']) }}
        </picture>
      </section>
      <picture>
        {{ imgc(cms.image['squash-is-for-everyone']) }}
      </picture>
      <section class="schedule">
        <ul class="times">
          <li>
            <p class="type">Friday<br>
              <span>18:00-20:00</span></p>
          </li>
        </ul>
        <section class="contacts">
          {{ linkc(cms.links['email-ali'],'?Subject=Club Night') }}
          {{ linkc(cms.links['telephone-ali']) }}
        </section>
      </section>
    </section>
    {# <section class="adult-round-robin">
      <section>
        <h3>round robin</h3>
        <p>Some gentle weekend competition!</p>
        <picture data-theme='light'>
          {{ imgc(cms.image['england-squash']) }}
        </picture>
      </section>
      <picture>
        {{ imgc(cms.image['squash-round-robin']) }}
      </picture>
      <section class="schedule">
        <ul class="times">
          <li>
            <p class="type">Saturday<br>
              <span>12:00-14:00</span></p>
          </li>
        </ul>
        <section class="contacts">
          {{ linkc(cms.links['email-ali'],'?Subject=Round Robin') }}
          {{ linkc(cms.links['telephone-ali']) }}
        </section>
      </section>
    </section> #}

  </section>
</section>

<section class="group teams">
  <h2>WWSC Teams</h2>
  <section class="activities">
    <section class="team">
      <a href="{{squash.warwickshireLeague}}" target="_blank">
        <picture>
          {{ imgc(cms.image['warwickshire-squash']) }}
        </picture>
      </a>
      <h2>Warwickshire<br>League</h2>
    </section>
    <section class="team">
      <a href="{{squash.wwsc1stTeam}}" target="_blank">
        <picture>
          {{ imgc(cms.image['squash-1st-team']) }}
        </picture>
      </a>
    </section>
    <section class="team">
      <a href="{{squash.wwsc2ndTeam}}" target="_blank">
        <picture>
          {{ imgc(cms.image['squash-2nd-team']) }}
        </picture>
      </a>

    </section>
  </section>
</section>

{# {% set people = squash.people %}  #}
{# broken for now! #}
{% include 'partials/people.njk' %}
{% include 'partials/links.njk' %}