{% h1 title | capitalize %}
{% p tennis.description, class="description" %}

{% set group = tennis %}
{% include 'partials/gallery.njk' %}

{{ button('book a court') | form(class='book-a-court', action=bookNow)}}

{% set images = [
  {url: "https://images.ctfassets.net/ffrbyg3cfykl/3EW8IVQgmn3AKNfqJsNxds/50558adf69464c30da72c3598ab19ba1/tennis-kids-classes.webp", alt:"kids classes schedule"},
  {url: "https://images.ctfassets.net/ffrbyg3cfykl/6BKDmFIrCAa2l2cnaNnD7G/cba6efacede8924087e04de56c90505a/tennis-adult-classes.webp", alt:"adult classes schedule"}
  ] 
%}

{% set links %}
  {% for image in images %}
    {{ img(
      src=image.url, 
      alt=image.alt, 
      loading='lazy')
      | picture 
      | a(href=tennis.clubspark, target="_blank")
    }}
  {% endfor %}
{% endset %}

{{ links | section(class="clubspark")}}

{{ button("book a coaching session") 
    | form(class='book-tennis-coaching', action=tennis.clubspark) }}

{% include 'partials/coaches.njk' %}
{% include 'partials/people.njk' %}
{% include 'partials/links.njk' %}