{% h1 title | capitalize %}
{% p tennis.description, class="description" %}

{% set group = tennis %}
{% include 'partials/gallery.njk' %}

{{ button('book a court') | form(class='book-a-court', action=bookNow)}}

{% set images = [
  {url: "/cloudinaried/tennis/tennis-kids-classes.avif", alt:"kids classes schedule"},
  {url: "/cloudinaried/tennis/tennis-adult-classes.avif", alt:"adult classes schedule"}
  ] 
%}

{% set links %}
  {% for image in images %}
    {{ img(
      src="/cloudinaried/tennis/tennis-kids-classes.avif", 
      alt="kids classes schedule", 
      loading='lazy')
      | picture 
      | a(href=tennis.clubspark, target="_blank")
    }}
  {% endfor %}
{% endset %}

{{ links | section(class="clubspark")}}

{{ button("book a coaching session") 
    | form(class='book-tennis-coaching', action=tennis.clubspark) }}

{% include 'partials/coaches.njk' %}
{% include 'partials/people.njk' %}
{% include 'partials/links.njk' %}