<h1>{{ title | capitalize }}</h1>

<p class="description">West Warwickshire is an excellent choice for a wedding reception. Our facilities have space for upto 150 guests with excellent view from our balcony overlooking the cricket pitch and tennis courts.</p>

{% set promotions = cms.tags['weddings-promotion'] %}
{% include "partials/promotions.njk" %}

{{ linkc(cms.links['email-events'], h2('book a wedding reception'), '?Subject=Book a Wedding Reception', class='booking') }}

{{ linkc(cms.links['events-terms-and-conditions'], h2('events terms & conditions'), class='review') }}




