.skip-to-content {
  --indent: 0.5em;
  opacity: 0;
  transform: translateY(-100%);
  max-inline-size: max-content;

  &:focus-visible {
    opacity: 1;
    transform: translateY(0);
    margin-inline-start: var(--indent);
    margin-block-start: var(--indent);
  }
}
