section.coach {
  background-color: var(--surface-3);
  padding: var(--size-fluid-1);

  & h2 {
    font-size: var(--font-size-fluid-1);
    padding-block: var(--size-fluid-1);
    border: 1px solid var(--surface-3);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    line-height: var(--font-lineheight-00);
    text-align: center;
    max-inline-size: unset;
  }

  @media (--md-n-above) {
    grid-template-columns: repeat(3, 1fr);
  }

  & > * {
    grid-auto-rows: min-content;
    gap: var(--size-fluid-1);
    background-color: var(--surface-1);
    padding: var(--size-fluid-1);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
  }

  & .identity {
    grid-template-rows: min-content 1fr;
    & picture {
      border-radius: var(--radius-2);
      box-shadow: var(--shadow-2);
      overflow: hidden;
    }
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  & .bio {
    grid-auto-rows: min-content;
    gap: var(--size-fluid-1);
    & picture {
      place-self: center;
      max-width: 12ch;
    }
    & p {
      place-self: center;
    }
  }

  & .prices {
    align-content: space-between;

    & header {
      gap: var(--size-fluid-1);
    }

    & footer {
      display: grid;
      align-content: end;
      & small {
        font-size: var(--font-size-00);
        max-inline-size: unset;
      }
    }

    & .price-list {
      display: grid;
      gap: var(--size-fluid-1);
      & li {
        place-self: center;
        min-inline-size: 15ch;
        border-radius: var(--radius-2);
        border: 1px solid var(--brand);
        box-shadow: var(--shadow-2);
        padding: var(--size-fluid-1);
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: var(--size-fluid-1);

        & .type {
          font-weight: 700;
        }
      }
    }
  }
}
