.site {
  & > footer {
    position: relative;

    grid-column: 1 / -1;
    display: grid;
    gap: var(--size-fluid-2);
    padding-block: var(--size-fluid-2);
    padding-inline: var(--size-fluid-2);
    background-color: var(--surface-3);
    border-radius: var(--radius-1);

    & p {
      font-size: var(--font-size-fluid-0);
      place-self: center;
    }

    & > section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--size-fluid-2);

      margin: 0;
      @media (--sm-n-above) {
        margin: auto;
      }

      [data-theme='light'] & img {
        filter: invert(1);
      }

      & > .social {
        display: flex;
      }

      & > .contacts {
        @media (--sm-n-above) {
          position: absolute;
          right: var(--size-fluid-2);
        }

        display: flex;
        align-items: center;
        gap: clamp(0.75rem, 1.5vw, 1rem);

        & > a {
          border: var(--size-1) double var(--brand);
          padding-block: var(--size-1);
          padding-inline: var(--size-1);
        }
      }

      & a {
        display: grid;
        place-content: center;
        border-radius: var(--radius-round);
        background-color: var(--text-1);

        padding-block: var(--size-2);
        padding-inline: var(--size-2);

        & > img {
          width: var(--size-fluid-2);
          aspect-ratio: 1;
        }
      }
    }

    & .company {
      gap: var(--size-1);
      line-height: var(--font-lineheight-00);

      & > .registration {
        font-size: var(--font-size-0);
      }
    }

    & .longname {
      display: none;
    }

    @media (--md-n-above) {
      & .shortname {
        display: none;
      }
      & .longname {
        display: inline;
      }
    }
  }
}
