#logo {
  display: none;
  @media (--md-n-above) {
    display: block;
  }
  border-radius: var(--radius-round);
  img {
    inline-size: var(--size-9);
  }
}

.theme-toggle {
  border: initial;
  box-shadow: initial;
  border-radius: var(--radius-round);
  padding-block: var(--size-2);
  padding-inline: var(--size-2);

  svg {
    block-size: var(--size-7);
    inline-size: var(--size-7);
  }
}

.site {
  > header {
    --link-visited: initial;

    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
