section.hero {
  gap: var(--size-6);

  & img {
    width: 100%;
    aspect-ratio: var(--ratio-portrait);
    object-fit: cover;
  }

  & > header {
    margin-block-start: var(--size-2);
    display: flex;
    flex-direction: column;

    @media (--lg-n-above) {
      flex-direction: row;
      justify-content: space-between;
    }

    & > * {
      text-align: center;
      align-self: center;
    }

    & button {
      width: max-content;
    }
  }

  & .gallery {
    --columns: 3;
    gap: var(--size-1);
    grid-template-columns: repeat(var(--columns), 1fr);

    @media (--md-n-above) {
      --columns: 4;
    }
    @media (--xl-n-above) {
      --columns: 6;
    }
  }
}
