ul.images {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: var(--size-3);

  img {
    max-block-size: 70vh;
    object-fit: contain;
  }

  a > img {
    pointer-events: none;
  }
}
