ul.images {
  display: grid;
  place-items: center;

  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));

  @media (--sm-n-above) {
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  }
  gap: var(--size-3);

  img {
    max-block-size: 70vh;
    aspect-ratio: var(--ratio-portrait);
  }

  li {
    display: grid;
    grid-template-areas: 'content';
    a {
      grid-area: content;
    }
    p {
      grid-area: content;
      place-self: center;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: var(--size-2);
      background-color: var(--surface-1);
      pointer-events: none;
      font-size: var(--font-size-fluid-1);
      opacity: 0.8;
      padding-inline: 1em;
      padding-block: 0.25em;
      z-index: 1;
      img {
        width: 1em;
        html[data-theme='dark'] & {
          filter: invert(1);
        }
      }
    }
  }
  a {
    margin: 0;
    padding: 0;
    position: relative;

    > img {
      pointer-events: none;
    }
  }
}
