ul.images {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  gap: var(--size-3);

  img {
    max-block-size: 70vh;
    aspect-ratio: var(--ratio-portrait);
  }

  a {
    margin: 0;
    padding: 0;
    position: relative;

    > img {
      pointer-events: none;
    }
  }
}
