@forward 'social-link';
@forward 'links';
@forward 'container';
@forward 'header';
@forward 'footer';
@forward 'skip-to-content';
@forward 'scroll-to-top';
@forward 'welcome';
@forward 'find-us';
@forward 'gallery';
@forward 'sports-gallery';
@forward 'information';
@forward 'book-a-court';
@forward 'squash-coach';
@forward 'contacts';
@forward 'description';
@forward 'squash-group';
@forward 'schedule';
@forward 'england-squash-logo';
@forward 'people';
@forward 'hero';
@forward 'tennis-coaches';
@forward 'review';
@forward 'classes';
@forward 'fitness-class';
@forward 'yoga';
@forward 'home-dine';
@forward 'join-benefits';
@forward 'join-categories';
@forward 'join-category';
@forward 'join-product';
@forward 'join-product-prices';
@forward 'be-kind-to-hospitality';
@forward 'cocktail-menu';
@forward 'bar-food-menu';
@forward 'sunday-lunch-menu';
@forward 'menu-navigation';
@forward 'parq-questionnaire';
@forward 'specials';
@forward 'tea-and-coffee-menu';
@forward 'beer-menu';
@forward 'spirits-menu';
@forward 'soft-drinks-menu';
@forward 'events';
@forward 'images';
@forward 'policies';
