section.join-categories.join-categories {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;

  place-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  padding-block-end: var(--size-3);
  font-size: 0.75rem;
  font-size: var(--size-fluid-2);

  @media (--sm-n-above) {
    flex-direction: row;
    gap: var(--size-fluid-2);
  }
}
