ul.prices {
  display: grid;
  gap: var(--size-fluid-1);
  & button {
    --_size: var(--font-size-fluid-0);
  }

  & li {
    max-inline-size: unset;
  }

  & > .price {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(3, min-content);
    gap: var(--size-fluid-1);
    align-items: center;
    justify-content: space-between;

    & p {
      max-inline-size: unset;
    }

    & > * {
      font-size: var(--font-size-fluid-1);
    }

    & .interval {
      font-size: var(--font-size-0);
      line-height: var(--font-lineheight-0);
      color: var(--text-1);
    }
    & .value {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--brand);
    }
  }
}
