section.links {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: var(--size-fluid-1);

  background-color: var(--surface-3);
  padding: var(--size-fluid-1);

  & > * {
    background-color: var(--surface-1);
    padding: var(--size-fluid-1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-fluid-1);
    place-content: center;

    & > * {
      max-width: 15ch;
      place-self: center;
      &:hover {
        transform: scale(1.02);
      }
    }

    & img {
      max-block-size: min(64px, 10vh);
      // max-inline-size: max(300px, 30vw);
      &[data-dark] {
        background-color: var(--surface-3);
        padding: var(--size-fluid-1);
        border-radius: var(--radius-2);
      }
    }
  }
}

// hack!!!
[title='tnt sports'] {
  min-inline-size: 128px;
}
