section.policies {
  h2 {
    max-inline-size: unset;
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    gap: var(--size-3);
  }
  li {
    padding: var(--size-3);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-3);
    background-color: var(--surface-3);
    [data-theme='dark'] & img {
      filter: invert(1);
    }
  }
  a {
    display: grid;
    place-items: center;
    text-align: center;
    gap: var(--size-3);
  }
}
