#mobile-menu {
  display: block;

  @media (--md-n-above) {
    display: none;
  }
  border-radius: var(--radius-round);
  svg {
    inline-size: var(--size-7);
  }
}

#close-mobile-menu {
  display: none;
  padding: 0;
}

#primary-navigation {
  display: none;
  @media (--md-n-above) {
    display: block;
    > ul > li:first-of-type {
      display: none;
    }
  }

  > ul {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-5);
    > li {
      position: relative;

      ul {
        display: grid;
        gap: var(--size-2);
        margin-inline-start: 1em;
      }

      @media (--md-n-above) {
        ul {
          display: none;
          position: absolute;
          top: 100%;
          inline-size: 10ch;
        }

        &:hover {
          ul {
            display: grid;
            background-color: var(--surface-2);
            padding-inline-start: 1em;
            padding-block: 0.5em;
            opacity: 0.9;
            border-radius: var(--radius-3);
            box-shadow: var(--shadow-3);
            margin-inline-start: unset;
          }
        }
      }
    }
  }

  &:target {
    position: fixed;
    inset: 0;
    display: block;
    overflow: hidden;
    overscroll-behavior: none;
    inset: 0;
    background: var(--surface-1);
    z-index: var(--layer-important);

    #theme-toggler {
      display: none;
    }

    #close-mobile-menu {
      display: block;
      position: absolute;
      right: var(--size-7);
      top: calc(var(--size-7) * 1.2);
      background-color: var(--surface-4);
      border-radius: var(--radius-round);
      svg {
        inline-size: var(--size-7);
      }
    }

    > ul {
      flex-direction: column;
      margin-block-start: var(--size-7);
    }

    li {
      &:first-of-type {
        display: inline-block;
      }

      a {
        padding-inline: var(--size-3);
        padding-block: var(--size-1);
        margin-inline-start: var(--size-7);
        &:hover,
        &:focus {
          background-color: var(--surface-4);
        }
        inline-size: calc(100vw - (3.2 * var(--size-7)));
        display: inline-block;
      }
    }
  }
}
