a.review,
a.booking {
  margin: 0;
  align-self: center;
  display: flex;
  align-items: center;
  place-content: center;
  gap: var(--size-fluid-1);
  text-align: center;

  & h2 {
    max-inline-size: unset;
  }
  & img {
    [data-theme='dark'] & {
      filter: invert(1);
    }
    transform: translateY(10%);
    inline-size: var(--size-fluid-3);
  }
}
