#scroll-to-top {
  position: fixed;
  right: var(--size-3);
  bottom: var(--size-3);
  font-size: var(--font-size-fluid-1);
  padding: var(--size-2);
  border-radius: var(--radius-round);
  background-color: var(--brand);
  z-index: var(--layer-important);
}
