.social-link {
  display: grid;
  place-content: center;
  border-radius: var(--radius-round);
  background-color: var(--text-1);

  padding-block: var(--size-2);
  padding-inline: var(--size-2);

  & > img {
    width: var(--size-fluid-2);
    aspect-ratio: 1;
  }

  [data-theme='light'] & > img {
    filter: invert(1);
  }
}
