.site {
  & .sports-gallery {
    --columns: 1;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--size-fluid-1);

    @media (--xs-n-above) {
      --columns: 2;
    }

    @media (--md-n-above) {
      --columns: 4;
    }

    & article {
      grid-template-areas: 'content';
      // place-self: stretch;
      // grid-auto-rows: min-content;
      // place-content: center;
      // width: 100%;
      aspect-ratio: var(--ratio-portrait);
      background-position: bottom;
      background-size: cover;
      overflow: hidden;

      > a {
        grid-area: content;
      }

      > form {
        grid-area: content;
        place-self: center;
      }

      & :is(h2, h3) {
        margin-top: 50%;
        text-align: center;
        padding-block: var(--size-fluid-1);
        padding-inline: var(--size-fluid-3);
        font-size: var(--size-fluid-3);
        color: var(--green-9);
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(2px);
        width: max-content;
        margin-inline: auto;
      }

      // & > *:last-of-type {
      //   width: max-content;
      //   place-self: center;
      // }

      &.gym {
        background-image: url('https://images.ctfassets.net/ffrbyg3cfykl/2M8yJigOnF7LghDTavKYaN/8a9093b168fa9915a7a2dd9bd7bbf80f/fitness-happy-exercising.webp');
      }
      &.fitness {
        background-image: url('https://images.ctfassets.net/ffrbyg3cfykl/QayuDQTC0pAHo3NXQjdAV/edaccb00a16ee71ed7b111d5d3030e6b/fitness-group-exercise.webp');
      }
      &.tennis {
        background-image: url('https://images.ctfassets.net/ffrbyg3cfykl/59VKSsYoUNoxF8o2fQchQC/5b62e089e6486471c091560f82dfe25c/tennis-adult-doubles.webp');
      }
      &.squash {
        background-image: url('https://images.ctfassets.net/ffrbyg3cfykl/4btsLO8eJ0R4EIQHmlQkQo/25191cae0a9108b73f36efb379c3fc58/squash-training-session.webp');
      }
      &.racketball {
        background-image: url('https://images.ctfassets.net/ffrbyg3cfykl/7o5HSN55tU2az1Ubwvul0O/2293c0a569673616a5fb29d13173f49e/racketball-main.webp');
      }
      &.hockey {
        background-image: url('https://images.ctfassets.net/ffrbyg3cfykl/atzUiurh6aqilPxTOdWju/28b029b6c1e0a7ef6ec69e1b9f2c0bda/hockey-ladies-match.webp');
      }
      &.cricket {
        background-image: url('https://images.ctfassets.net/ffrbyg3cfykl/QXD9bzgmohYnqNwaLvZmF/0194758669e873ee48257bd06176c8bc/cricket-batsman.webp');
      }
      &.football {
        background-image: url('https://images.ctfassets.net/ffrbyg3cfykl/5TpmguFU6BMTcfPyI6NhS2/d607b964608e00ce6065183fa3e046b3/football-goal-nets.webp');
      }
    }
  }
}
