.sunday-lunch-menu-section {
  --radius: var(--radius-3);
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  img {
    border-radius: var(--radius);
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
  }

  article {
    .name {
      font-weight: var(--font-weight-7);
    }

    background-color: var(--surface-1);
    border-radius: var(--radius);
    box-shadow: var(--shadow-3);
    padding: var(--size-3);
    place-items: center;
  }

  .sunday-lunch-price {
    white-space: pre;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-1);
    font-size: var(--font-size-1);

    & .sunday-lunch-qty {
      text-transform: lowercase;
      text-align: right;
    }
  }
}
