---
layout: base.njk
---

<section class="hero">
  <header>
    <h1>West Warwickshire Sports Complex</h1>
  </header>
  <section>
    <picture>
      <img src="https://raw.githubusercontent.com/andystevenson/wwsc-assets/master/images/bar/bar-main.jpg" alt="">
    </picture>
    <picture>
      <img src="https://raw.githubusercontent.com/andystevenson/wwsc-assets/master/images/cricket/cricket-main.jpeg" alt="">
    </picture>
    <picture>
      <img src="https://raw.githubusercontent.com/andystevenson/wwsc-assets/master/images/tennis/tennis-main.jpeg" alt="">
    </picture>
    <picture>
      <img src="https://raw.githubusercontent.com/andystevenson/wwsc-assets/master/images/fitness/fitness-main.jpg" alt="">
    </picture>
    <picture>
      <img src="https://raw.githubusercontent.com/andystevenson/wwsc-assets/master/images/restaurant/restaurant-main.jpg" alt="">
    </picture>
    <picture>
      <img src="https://raw.githubusercontent.com/andystevenson/wwsc-assets/master/images/hockey/hockey-main.jpeg" alt="">
    </picture>
    <picture>
      <img src="https://raw.githubusercontent.com/andystevenson/wwsc-assets/master/images/squash/squash-main.jpeg" alt="">
    </picture>
    <picture>
      <img src="https://raw.githubusercontent.com/andystevenson/wwsc-assets/master/images/clubhouse/clubhouse-main.jpeg" alt="">
    </picture>
    <picture>
      <img src="https://raw.githubusercontent.com/andystevenson/wwsc-assets/master/images/events/events-main.jpg" alt="">
    </picture>
    <picture>
      <img src="https://raw.githubusercontent.com/andystevenson/wwsc-assets/master/images/football/football-main.jpg" alt="">
    </picture>
  </section>
</section>