---
layout: 'base.njk'
---

<section class="hero">
  <header>
    <h1>West Warwickshire Sports Complex</h1>
    <form action="/join">
      <button>join us</button>
    </form>
  </header>

  {% set promotions = cms.tags['main-promotion'] %}
  {% include "partials/promotions.njk" %}

  <section title="gallery" id="home-gallery" class="gallery">
    <a title="bar" href="/bar">
      <picture>
        <img src="/cloudinaried/300/main/bar-main.avif" width="300" height="450" alt="west warwicks bar" loading="lazy">
      </picture>
    </a>
    <a title="cricket" href="/cricket">
      <picture>
        <img src="/cloudinaried/300/main/cricket-main.avif" width="300" height="450" alt="west warwicks cricket" loading="lazy">
      </picture>
    </a>
    <a title="tennis" href="/tennis">
      <picture>
        <img src="/cloudinaried/300/main/tennis-main.avif" width="300" height="450" alt="west warwicks tennis" loading="lazy">
      </picture>
    </a>
    <a title="gym" href="/gym">
      <picture>
        <img src="/cloudinaried/300/main/fitness-main.avif" width="300" height="450" alt="west warwicks fitness" loading="lazy">
      </picture>
    </a>
    <a title="restaurant" href="/restaurant">
      <picture>
        <img src="/cloudinaried/300/main/restaurant-main.avif" width="300" height="450" alt="west warwicks restaurant" loading="lazy">
      </picture>
    </a>
    <a title="hockey" href="/hockey">
      <picture>
        <img src="/cloudinaried/300/main/hockey-main.avif" width="300" height="450" alt="west warwicks hockey" loading="lazy">
      </picture>
    </a>
    <a title="squash" href="/squash">
      <picture>
        <img src="/cloudinaried/300/main/squash-main.avif" width="300" height="450" alt="west warwicks squash" loading="lazy">
      </picture>
    </a>
    <a title="football" href="/football">
      <picture>
        <img src="/cloudinaried/300/main/football-main.avif" width="300" height="450" alt="west warwicks football" loading="lazy">
      </picture>
    </a>
    <a title="events" href="/events">
      <picture>
        <img src="/cloudinaried/300/main/events-main.avif" width="300" height="450" alt="west warwicks events" loading="lazy">
      </picture>
    </a>
    <a title="tennis" href="/tennis">
      <picture>
        <img src="/cloudinaried/300/main/tennis-main-i2.avif" width="300" height="450" alt="west warwicks tennis" loading="lazy">
      </picture>
    </a>
    <a title="fitness" href="/fitness">
      <picture>
        <img src="/cloudinaried/300/main/fitness-main-i2.avif" width="300" height="450" alt="west warwicks fitness" loading="lazy">
      </picture>
    </a>
    <a title="clubhouse" href="/contact">
      <picture>
        <img src="/cloudinaried/300/main/clubhouse-main.avif" width="300" height="450" alt="west warwicks clubhouse" loading="lazy">
      </picture>
    </a>
  </section>
</section>
<section title="welcome" id="welcome" class="welcome">
  <header  data-theme="light">
    <h2>Welcome</h2>
    <p>West Warwickshire Sports Complex (WWSC) is in the heart of Solihull and welcomes members and the public to enjoy our great multi-sports and hospitality facility. We can trace the roots of WWSC back to 1888 with Olton & West Warwicks Cricket Club and 1898 with Olton & West Warwicks Hockey Club. WWSC has been an established charity since 2005 with the objective of providing the best multi-sports facility to the local community. </p>
    <section class="cto">
      <form action="/contact">
        <button>book a tour</button>
      </form>
      <form action="/opening-times">
        <button>opening times</button>
      </form>
    </section>
  </header>
  <section title="aerial-video" id="aerial-video" class="aerial-video">
    <video controls>
      <source src="files/vid.mp4" type="video/mp4">
    </video>
  </section>

</section>
<section id="sports-gallery">
  <h2>Sports</h2>
  <section class="sports-gallery">
    <article class="fitness">
      <a href="/fitness">
        <h3>group exercise</h3>
      </a>
      <form action="{{ bookNow }}">
        <button>book now</button>
      </form>
    </article>
    <article class="gym">
      <a href="/gym">
        <h3>gym</h3>
      </a>
      <form action="{{ bookNow }}">
        <button>book now</button>
      </form>
    </article>
    <article class="tennis">
      <a href="/tennis">
        <h3>tennis</h3>
      </a>
      <form action="{{ bookNow }}">
        <button>book now</button>
      </form>
    </article>
    <article class="squash">
      <a href="/squash">
        <h3>squash</h3>
      </a>
      <form action="{{ bookNow }}">
        <button>book now</button>
      </form>
    </article>
    <article class="racketball">
      <a href="/racketball">
        <h3>racketball</h3>
      </a>
      <form action="{{ bookNow }}">
        <button>book now</button>
      </form>
    </article>
    <article class="hockey">
      <a href="/hockey">
        <h3>hockey</h3>
      </a>
      <a href="mailto:hockey@westwarwicks.co.uk?Subject=booking">
        <button>contact</button>
      </a>
    </article>
    <article class="cricket">
      <a href="/cricket">
        <h3>cricket</h3>
      </a>
      <a href="mailto:cricket@westwarwicks.co.uk?Subject=booking">
        <button>contact</button>
      </a>
    </article>
    <article class="football">
      <a href="/football">
        <h3>football</h3>
      </a>
      <a href="mailto:football@westwarwicks.co.uk?Subject=booking">
        <button>contact</button>
      </a>
    </article>
  </section>
</section>

{% set group = club %}
{% include 'partials/links.njk' %}

{% include "partials/find-us.njk" %}