{% set barFoodMenu = true %}
{% if barFoodMenu %}
  <section class="bar-food-menu-section" id="bar-food-menu-section">
    <img src="/cloudinaried/misc/bar-food-menu.avif" alt="bar food menu" loading="lazy">
  </section>
{% endif %}