{% set barFoodMenu = true %}
{% if barFoodMenu %}
  <section class="bar-food-menu-section" id="bar-food-menu-section">
    {{ imgc(cms.image['breakfast-menu']) }}
    {{ imgc(cms.image['bar-food-menu']) }}
    {{ imgc(cms.image['kids-menu']) }}
  </section>
{% endif %}