{% set barFoodMenu = true %}
{% if barFoodMenu %}
  <section class="bar-food-menu-section" id="bar-food-menu-section">
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/5Ywa6xTruTVh5AqtkXG2oZ/cd07cf6c7ce0dec5d6560a04221271df/bar-food-menu.webp" alt="bar food menu" loading="lazy">
  </section>
{% endif %}