{% set beKindToHospitality = true %}
{% if beKindToHospitality %}
  <section class="be-kind-to-hospitality-section" id="be-kind-to-hospitality-section">
    <img src="https://images.ctfassets.net/ffrbyg3cfykl/7H1y7rTpOkKio12D3djMFp/3632bc2a6af66c55e500b682e2df4129/be-kind-to-hospitality.webp" alt="be kind to hospitality" loading="lazy">
  </section>
{% endif %}