{% set beKindToHospitality = true %}
{% if beKindToHospitality %}
  <section class="be-kind-to-hospitality-section" id="be-kind-to-hospitality-section">
    <img src="/cloudinaried/misc/be-kind-to-hospitality.avif" alt="be kind to hospitality" loading="lazy">
  </section>
{% endif %}