{% set beKindToHospitality = true %}
{% if beKindToHospitality %}
  <section class="be-kind-to-hospitality-section" id="be-kind-to-hospitality-section">
    {{ imgc(cms.image['be-kind-to-hospitality'])}}
  </section>
{% endif %}