{% if beerMenu %}
  <section class="beer-menu-section" id="beer-menu-section">
    <header>
      <h2 class="beer-menu-title">Beer</h2>
      <small>(WWSC members enjoy 15% discount!)</small>
      <img src="https://images.ctfassets.net/ffrbyg3cfykl/5mlPOppcuPyurah2ZiHZjS/46ec2daf6a8bda495a835b1771ee20f7/beers.webp" alt="beers at west warwicks" loading="lazy">

    </header>

    <ul class="beer-menu-beers">
      {% for beer in beerMenu.children %}
        <li class="beer-type">
          <article>

            {% set hasVariants = beer.has_variant %}
            {% if hasVariants %}
              <p class="has-variants">
                <span class="beer-name">{{ beer.product_name}}</span>
              </p>
              <div>

                {% for variant in beer.current_variants %}
                  <p class="beer-price">
                    <span class="beer-qty">{{variant.display_name}}</span>
                    <span class="beer-price">{{variant.selling_price}}</span>
                  </p>
                {% endfor %}
              </div>
            {% else %}
              <p class="no-variants">
                <span class="beer-name">{{beer.product_name}}</span>
              </p>
              <p class='beer-price'>
                <span class="beer-price">{{beer.selling_price}}</span>
              </p>
            {% endif %}
          </article>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}