{% if group.classes %}
  <section class="classes">
    {% for class in group.classes %}
      <section class="fitness-class {{ class.name }}" 
          style='background-image: url({{ class.image }})'>
        {% if class.name %}
          <h2>{{ class.name | capitalize }}</h2>
        {% endif %}
      </section>
    {% endfor %}
  </section>
{% endif %}