{% set cocktailMenu = true %}
{% if cocktailMenu %}
  <section class="cocktail-menu-section" id="cocktail-menu-section">
    <section class="introduction">
      <p>Relax and enjoy our wonderful selection of cocktails along with the spectacular evening views from our balcony.</p>
      <small>(WWSC members enjoy 15% discount!)</small>
    </section>
    <section class="images">
      {{ imgc(cms.image['balcony-sunset'])}}
      {{ imgc(cms.image['cocktail-menu'])}}
      {{ imgc(cms.image['balcony-seating-area'])}}
    </section>
  </section>
{% endif %}