{% set cocktailMenu = true %}
{% if cocktailMenu %}
  <section class="cocktail-menu-section" id="cocktail-menu-section">
    <section class="introduction">
      <p>Relax and enjoy our wonderful selection of cocktails along with the spectacular evening views from our balcony.</p>
      <small>(WWSC members enjoy 15% discount!)</small>
    </section>
    <section class="images">
      <img src="https://images.ctfassets.net/ffrbyg3cfykl/5piEHJvao8nGS5mjZNh42E/879fb8370a91f8d6e77814fbda49cfc9/balcony-sunset.webp" alt="a balcony view" loading="lazy">
      <img src="https://images.ctfassets.net/ffrbyg3cfykl/7BA9c47eKekawxukaEB5cU/a4b7cc3c57a3892269ef1fab404777cf/cocktail-menu.webp" alt="cocktail menu" loading="lazy">
      <img src="https://images.ctfassets.net/ffrbyg3cfykl/3uLFB24jZuE2tZoTJDBOLu/1feda6339fea3ebf439eddaca5ba066d/balcony-seating-area.webp" alt="a balcony view" loading="lazy">
    </section>
  </section>
{% endif %}