{% set cocktailMenu = true %}
{% if cocktailMenu %}
  <section class="cocktail-menu-section" id="cocktail-menu-section">
    <section class="introduction">
      <p>Relax and enjoy our wonderful selection of cocktails along with the spectacular evening views from our balcony.</p>
    </section>
    <section class="images">
      <img src="/cloudinaried/misc/balcony-2.avif" alt="a balcony view" loading="lazy">
      <img src="/cloudinaried/misc/cocktail-menu.avif" alt="cocktail menu" loading="lazy">
      <img src="/cloudinaried/misc/balcony-3.avif" alt="a balcony view" loading="lazy">
    </section>
  </section>
{% endif %}