{% if group.committee %}
  <section class="committee">
    <h2>Committee</h2>
    <section class="members">
      {% for member in group.committee%}
        <section class="member">
          <picture>
            <img src="{{ member.image }}" alt="{{member.name}}">
          </picture>
          {% if member.role %}
            <h3>{{member.role}}</h3>
          {% endif %}
          <p>{{member.name}}</p>
        </section>
      {% endfor %}
    </section>
    <section class="contacts">
      <a href="mailto:squash.committee@westwarwicks.co.uk?Subject=Feedback" title="email squash committee">
        <img src="/images/envelope.svg" alt="email west warwicks">
      </a>
    </section>
  </section>
{% endif %}