{% if contacts %}
  <section class="contacts">
    {% if contacts.email %}

      <a href="mailto:{{contacts.email}}" title="email {{contacts.email}}">
        <img src="https://images.ctfassets.net/ffrbyg3cfykl/1PAJHMm10h6d0KfktWsZjk/535567565381e972b54e12c7b6380a52/envelope.svg" alt="email {{contacts.email}}">
      </a>

    {% endif %}

    {% if contacts.telephone %}

      <a href="tel:{{ contacts.telephone }}" title="telephone {{ contacts.telephone }}">
        <img src="https://images.ctfassets.net/ffrbyg3cfykl/4O3dgbpqDx83aUkE5vcFye/20c419a19cc7b5bf717d6f1432e985b3/telephone.svg" alt="telephone {{contacts.telephone}}">
      </a>

    {% endif %}
  </section>
{% endif %}