{%- if cms.links.contact %}
  <section class="contacts">
    {% set link = cms.links.contact | find(["name", "email"]) %}
    {%- include "./link.njk" -%}
    {% set link = cms.links.contact | find(["name","telephone"]) %}
    {%- include "./link.njk" -%}
  </section>
{%- endif %}