{% set enquiries = ["General Enquiry", "About Joining", "Host an Event", "Already a Member"] %}
<section class="enquiries">
  {% for enquiry in enquiries %}
    <article data-theme="light">
      <h2>{{enquiry}}</h2>
      <section>
        {% set params = "?Subject=" + enquiry %}
        {{ link(cms.links.email, params) }}
        {{ link(cms.links.telephone) }}
      </section>
    </article>
  {% endfor %}
</section>