<section>
  {% for platform, link in social %}
    <a href="{{link}}" title="{{platform}}">
      <img src="/{{platform}}.svg" alt="image for social media {{platform}}">
    </a>
  {% endfor %}
</section>
<p>Copyright &copy 2022 - West Warwickshire Sports Complex</p>