<footer>
  <section>
    {% include "./social.njk" %}
    {% include "./contact.njk" %}
  </section>

  <section class="company">
    <p class="copyright">Copyright &copy 2023 - <span class="longname">West Warwickshire Sports Complex</span>
      <span class="shortname">WWSC</span>
    </p>
    <p class="registration">
      <span class="longname">(Company registered in England: {{charity.wwsc.companyId}})</span>
      <span class="shortname">(Company Reg: {{charity.wwsc.companyId}})</span>
    </p>
  </section>
</footer>