{%- if img -%}
        {% set url = args.url if args.url else 
                img.url %}
        {% set width = args.width if args.width else 
                img.width %}
        {% set height = args.height if args.height else 
                img.height %}
        {% set description = args.description if args.description else 
                img.description %}
        {% set ariaHidden = 'aria-hidden=true' if args.hidden %}
        {% set ariaHidden = 'aria-hidden=true' if hidden %}
        <img {{ariaHidden}} src="{{url}}" width="{{width}}" height="{{height}}" alt="{{description}}" title="{{description}}" loading="lazy">
{%- endif -%}