{% if categories %}
  <section class="join-categories">
    {% for category in categories %}
      <button id="join-{{category.name}}" title="{{category.name}} price options">
        {% set icon = cms.icons.checkmark %}
        {% include "partials/icon.njk" %}
        <span>{{category.name}}</span>
      </button>
    {% endfor %}
  </section>
{% endif %}