{% if category %}
  <section class="join-category" id="{{category.name}}-category">
    <a class="download-prices" href="https://images.ctfassets.net/ffrbyg3cfykl/7fnxVC6apzTvY7OG13qOAI/fbfe8c1487c4449ca3285a23c7b5b664/Membership_Price_List_2023.jpg" title="download prices" target="_blank">
      <span>download prices</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
      </svg>
    </a>
    {% for product in category.products %}
      {% include 'partials/join-product.njk' %}
    {% endfor %}
  </section>
{% endif %}
