{% if benefits %}
  <section class="join-benefits" id="membership-benefits">
    <h2>Member Benefits</h2>
    <ul>
      {% for benefit in benefits %}
        <li>
          {{ iconc(cms.icons.checkmark) }}

          <p>{{benefit.description | safe}}</p>
          {% for link in benefit.links %}
            <a class="{{link.class}}" href="{{link.href}}"><img src="{{link.img}}" alt="{{link.alt}}"></a>
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}