https://westwarwicks.mycourts.co.uk/bookings.asp?login_redir=Ym9va2luZ3MuYXNw&username=andrew8&password=danny&remember=1

<form id="login_form" action="login_check.asp" method="post">
  <div id="member_login_heading">Member Login</div>

  <input name="login_redir" type="hidden" value="Ym9va2luZ3MuYXNw">
  <input name="username" id="username" type="text" xxonfocus="clearTxt('username',this);" xxonblur="resetTxt('username',this);" placeholder="username" value="andrew8" maxlength="50">
  <br>
  <input name="password" id="password" type="password" xxonfocus="clearTxt('password',this);" xxonblur="resetTxt('password',this);" placeholder="password" value="danny" maxlength="50">
  <br>
  <label>
    <input style="padding:5%" checked="" name="remember" type="checkbox" id="remember" value="1">
      Remember Login</label>
  <br>
  <input type="submit" name="Submit" value="Submit">
  <p id="forgotten_password_link">
    <a class="" href="forgotten_password.asp">Forgotten Password?</a>
  </p>

</form>