{% if info['opening-times'] %}
  <form class="opening-times" action="/opening-times" data-theme="light">
    <button>
      <h2>opening times</h2>
      {{ iconc(cms.icons.clock) }}
    </button>
  </form>
{% endif %}