{% if people %}
  <section class="people">
  {% set committee = " Committee" if people.title === "squash" %}
  {# {% set committee = " Committee" if people.title neq "trustees" %} #}
    <h2>{{people.title | capitalize }}{{committee}}</h2>
    <section class="members">
      {% for member in people.members %}
        {# {{member | log }} #}
        {% set role = member[people.title].role %}
        {% set sectionv = member[people.title].section %}
        <section class="member">
          {{ img(src=member.image.url, alt=member.fullname, width=64, height=64, loading='lazy') 
              | picture }}
          {{ h3(role, class="people-role") if role }}
          {{ h3(sectionv, class="people-section") if sectionv }}
          {{ p(member.fullname) }}
        </section>
      {% endfor %}
    </section>
    <section class="contacts">
      {% set email = cms.links['email-' + people.title] %}
      {{ linkc(email, '?Subject=Feedback')}}
    </section>
  </section>
{% endif %}