{% if cms.tags.policy %}
  <section class="policies">
    <h2>Policies</h2>
    <ul>
      {% set policies = cms.tags.policy %}
      {% for policy in policies %}
        {% if policy.contentType === 'application/pdf' %}
          <li>
            <a aria-label="{{policy.description}}" href="{{policy.url}}" target="_blank" 
              id="{{_.kebabCase(policy.title)}}">
              {{ imgc(cms.icons.pdf, width="64", height="64" ) }}
              <h3>{{policy.title}}</h3>
            </a>
          </li>
        {% endif %}    
      {% endfor %}
    </ul>
    <section class="contacts">
      {{ linkc(cms.links.email, '?Subject=Policies') }}

    </section>


  </section>
  {{ linkc(cms.links['register-a-concern-to-lta'], h2('register a concern to lta'),class='review') }}
{% endif %}