{% if promotions %}
  <section class="promotions">
    <ul class="images">
      {% for promotion in promotions %}
        {% set isBrochure = promotion.tags.includes("brochure") %}
        {% if not isBrochure %}
          {% set brochure = cms.tags.brochure | find(["title", promotion.title]) %}
          {% if brochure %}
            {% set title = 'click to download -> ' + brochure.description %}
            {{ img(src=promotion.url, alt=promotion.description, width=promotion.width,      height=promotion.height, 'aria-hidden'='true') 
            | a('aria-label'=brochure.description, href=brochure.url, title=title, target='_blank' )}}
          {% else %}
          {{ img(src=promotion.url, alt=promotion.description, title=promotion.description,width=promotion.width, height=promotion.height, 'aria-hidden'='true') }}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endif %}