{% set review = page.fileSlug %}
{% if review %}
  <a class="review" href="mailto:review@westwarwicks.co.uk?Subject={{ review }}">
    <h2>Leave a Review <img src="/images/envelope.svg" alt="email"></h2>
  </a>
{% endif %}