{% set review = page.fileSlug %}
{% if review %}
  <a aria-label="leave a review" class="review" href="mailto:review@westwarwicks.co.uk?Subject={{ review }}">
    <h2>Leave a Review 
      {%- if cms.icons.envelope %}
        {% set icon = cms.icons.envelope %}
        {% include "./icon.njk" %}
      {% endif -%}
    </h2>
  </a>
{% endif %}