{% set specials = cms.tags.specials %}
{{ specials | log }}
{% if specials %}
  <section class="specials">
    <ul class="images">
      {% for special in specials %}
        <img title="special.description" src="{{special.url}}" width="{{special.width}}" height="{{special.height}}" alt="{{special.description}}">
      {% endfor %}
    </ul>
  </section>
{% endif %}