{% set specials = cms.tags.specials %}
{% if specials %}
  <section class="specials">
    <ul class="images">
      {% for special in specials %}
        <img title="special.description" src="{{special.url}}?fm=webp" width="{{special.width}}" height="{{special.height}}" alt="{{special.title}}">
      {% endfor %}
    </ul>
  </section>
{% endif %}