{% if specials %}
  <section class="specials">
    <ul class="images">
      {% for special in specials %}
        <img src="{{special.image}}" alt="{{special.description}}">
      {% endfor %}
    </ul>
  </section>
{% endif %}