{% if info.spirits %}
  <section class="spirits-menu-section" id="spirits-menu-section">
    <header>
      <h2 class="spirits-menu-title">Spirits</h2>
      <small>(WWSC members enjoy 15% discount!)</small>
      {{ imgc(cms.image.spirits) }}
    </header>

    <ul class="spirits-menu-spirits">
      {% for spirit in info.spirits %}
      {% if spirit.active %}
        <li class="spirits-type">
          <article>
            {% set hasVariants = spirit.variants %}
            {% if hasVariants %}
              <p class="has-variants">
                <span class="spirits-name">{{ spirit.name}}</span>
              </p>
              <div>

                {% for variant in spirit.variants %}
                  <p class="spirits-price">
                    <span class="spirits-qty">{{variant.display}}</span>
                    <span class="spirits-price">{{variant.price}}</span>
                  </p>
                {% endfor %}
              </div>
            {% else %}
              <p class="no-variants">
                <span class="spirits-name">{{spirit.name}}</span>
              </p>
              <p class='spirits-price'>
                <span class="spirits-price">{{spirit.price}}</span>
              </p>
            {% endif %}
          </article>
        </li>
      {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endif %}