{% if spiritsMenu %}
  <section class="spirits-menu-section" id="spirits-menu-section">
    <h2 class="spirits-menu-title">Spirits</h2>
    <img src="/cloudinaried/bar/spirits.avif" alt="alcoholic spirits at west warwicks" loading="lazy">

    <ul class="spirits-menu-spirits">
      {% for spirits in spiritsMenu.children %}
        <li class="spirits-type">
          <article>

            {% set hasVariants = spirits.has_variant %}
            {% if hasVariants %}
              <p class="has-variants">
                <span class="spirits-name">{{ spirits.product_name}}</span>
              </p>
              <div>

                {% for variant in spirits.current_variants %}
                  <p class="spirits-price">
                    <span class="spirits-qty">{{variant.display_name}}</span>
                    <span class="spirits-price">{{variant.selling_price}}</span>
                  </p>
                {% endfor %}
              </div>
            {% else %}
              <p class="no-variants">
                <span class="spirits-name">{{spirits.product_name}}</span>
              </p>
              <p class='spirits-price'>
                <span class="spirits-price">{{spirits.selling_price}}</span>
              </p>
            {% endif %}
          </article>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}