{% set sundayLunchMenu = true %}
{% if sundayLunchMenu %}
  <section class="sunday-lunch-menu-section" id="sunday-lunch-menu-section">
    <img src="/cloudinaried/misc/sunday-lunch-menu.avif" alt="sunday lunch menu" loading="lazy">
  </section>
{% endif %}