{% if sundayLunchMenu %}
  <section class="sunday-lunch-menu-section" id="sunday-lunch-menu-section">
    {% set menu = cms.tags.restaurant | find(["title","Sunday Lunch"]) %}
    <img src="{{menu.url}}?fm=webp" alt="{{menu.description}}" width="{{menu.width}}" height="{{menu.height}}" loading="lazy">
    <ul class="sunday-lunch-menu">
      {% for lunch in sundayLunchMenu.children %}
        <li class="sunday-lunch-type">
          <article>
            {% set hasVariants = lunch.has_variant %}
            {% if hasVariants %}
              <p class="has-variants">
                <span class="name">{{ lunch.product_name}}</span>
              </p>
              <div>

                {% for variant in lunch.current_variants %}
                  <p class="sunday-lunch-price">
                    <span class="sunday-lunch-qty">{{variant.display_name}}</span>
                    <span class="sunday-lunch-price">{{variant.selling_price}}</span>
                  </p>
                {% endfor %}
              </div>
            {% else %}
              <p class="no-variants">
                <span class="name">{{lunch.product_name}}</span>
              </p>
              <p class='sunday-lunch-price'>
                <span class="sunday-lunch-price">{{lunch.selling_price}}</span>
              </p>
            {% endif %}
          </article>
        </li>
      {% endfor %}
    </ul>
  </section>

{% endif %}